@media (max-width: 576px) {
    .mobile-hidden {
        display: none !important;
    }

    

    .container {
        padding: 0 20px;
    }

    button {
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        color: #FF7010;
        padding: 7px 16px;
        background: #FFEEE2;
        border-radius: 6px;
    }

    header .navigation ul li {
        font-size: 10px;
        gap: 6px;
    }

    header .navigation .left-side ul {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    header .navigation .left-side {
        width: 100%;
    }
    
    
    header .logo .navbar {
        display: flex;
    }

    .menu {
        display: flex;
        gap: 10px;
    }


    .menu div {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 8px 12px;
        gap: 8px;
    }

    .menu div p {
        font-size: 14px;
        line-height: 18px;
        display: flex;
        align-items: center;
        text-align: center;
    }

    .location {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }

    .items {
        display: flex;
        flex-direction: column;
    }

    .items .item {
        display: flex;
        flex-direction: row;
        background: #FFFFFF;
        border: 1px solid #F0F0F0;
        border-radius: 12px;
        width: 100%;
        height: 124px;
    }

    .items .item img {
        width: 100px;
        height: 100px;
    }

    .items .item .main h3 {
        font-size: 14px;
        line-height: 18px;
    }

    .items .item .main p {
        font-size: 12px;
        line-height: 16px;
    }

    .items .item-new nav, 
    .items .item-hit nav {
        position: absolute;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        color: #FFFFFF;
        background: #E23535;
        padding: 4px 8px;
        margin-top: 8px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }

    

    .items .item .price .mobile-button {
        display: flex !important;
    }
}